body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

/*====================
Header
=====================*/
header {
  border: solid red 1px;
  max-width: 100%;
}

/* Logo Begins */

header img {
  max-width: 70%;
}

/* Nav Begins */

nav {
  border: darkblue solid 1px;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  padding-right: 5%;
}
nav ul li {
  display: block;
  list-style-type: none;
}

/*====================
Footer
=====================*/
footer {
  vertical-align: bottom;
  border: solid cyan;
}
