.row1 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.row1 .info > *{
  border: pink solid;
  margin: 10px 0px;
}
.row1 .info h2 {
  font-size: 1.3em;
  font-weight: 500;
}

.row1 img {
  width: 40%;
}

.row1 > * {
  padding: 1%;
}

/* Row Two */
.synopsis {
margin: 2%;
}
.synopsis h2 {
  text-align: center;
}


/* Row Three */
.reviews-section h2 {
  text-align: center;
}

.reviews-section li {
  padding: 5px;
}

.reviews-section {
  padding: 1%;
}

/* Row Four */
.add-review {
  border: solid;
  margin: 2%;
}

.add-review form > * {
  border: solid;
  display: block;
  margin: auto;
  text-align: center;
}

