.movie-card {
  width: 150px;
  border: solid;
  margin: 5%;
  display: grid;
}

.card-title {
  width: 100%;
}

.card-year {
  width: 100%;
}

.card-poster {
  width: 100%;
}
.card-poster img {
  width: 100%;
}

/* 
What's left to do
    Change the size of the title
    Change the colour of the title and header
    Remove underline
*/
