.poster {
    width: 200px;
    height: 300px;
    padding-right: 20px;
    
    
 }

 .col1 {
     display: grid ;
     justify-content: right ;
 }

 .second {
     text-align: left ;
 }

 .genre {
    text-align: left ;
}

h2 {
    text-align: left ;
}

#rating {
    text-align: left ;
}

