.profile-form > * {
  display: block;
  text-align: center;
  margin: auto;
}

.avatar {
  border-radius: 80px;
  width: 150px;
  margin: 20px auto -25px auto;
}

.input-divs,.p-buttons {
  width: 20em;
}

.labels {
  display: block;
  margin: 15px auto 0px;
  background-color: #504a4a;
  width: 100%;
  color: white;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 4px 4px 0px 0px;
}

.inputs {
  display: block;
  width: 100%;
  padding: 10px;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
#userBio {
  border-radius: 0 0 5px 5px;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}
.upload-img {
  display: none;
}
.img-label {
  cursor: pointer;
  background: #504a4a;
  border-style: solid;
  color: white;
  padding: 3px 10px;
}
.submitBtn {
  background-color: #504a4a;
  color: white;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

@media screen and (min-width: 800px) {
.input-divs,.p-buttons {
  width: 25em;
}
}

.p-reviews-section {
  margin-top: 10px;
  color: rgb(44, 46, 51);
  width: 100%;
}

#review-list {
  padding: 0px;
}
.p-reviews-section h2 {
  text-align: center;
  margin: 5px;
}

.p-reviews-section #review-list li {
  display: flex;
  padding: 1%;
  width: 100%;
  box-sizing: border-box;
}

.p-review-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1%;
  width: 100%;
}

.p-review-info > * {
  padding: 5px;
}

.delete-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.delete-buttons .checkbox {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.delete-buttons button {
  border: solid;
  background-color: #504a4a;
  color: white;
  padding: 7px;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
}