*{
    text-align: center;
    
    
}

.avatar{
  border-radius: 80px;
  width: 150px;
}
label{
  margin: 20px auto -22px auto;
  background-color: #180e0e;
  width: 17.2em;
  color: white
}
.profile-head{
    background-color: rgb(13, 15, 13);
    margin: 0;
    padding:0;
    height: 5rem;
    color: white;
    
}
.container{
    
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.inputs{
    border-radius: ;
    width: 20em;
    height: 2em;
    margin: 0 auto 0 auto;
    
}
textarea{
    border-radius: 5px;
    width: 20em; 
}
.upload-img{
    display: none;
}
.img-label{
    cursor: pointer;
    background: #180e0e;
    border-style: solid;
    color: white;
    padding: 3px 10px;
    
    
   }
.submitBtn{
    background-color: rgb(11, 17, 17);
    color: white;
    width: 20em;
    height: 3em;
}